<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid bg-info">
    <div class="row justify-content-md-center"><img src="../static/out.png" /></div>
    <div class="row justify-content-md-center"><a href="/sepia" class="btn btn-secondary btn-lg active" role="button"
        aria-pressed="true">Sepia transform</a></div>
  </div>
</body>

</html>