<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid bg-info">
    <div class="jumbotron">
      <h1 class="display-4">Stylecloud App(credit to Max Woolf, see below)</h1>
      <p class="lead">This is a simple web app to generate stylized word clouds from user provided text.</p>
      <hr class="my-4">
      <p>Enter text below to begin.</p>
    </div>
    <div class="form-group">
      <form method="POST">
        <div class="row justify-content-md-center">
          <div class="card bg-light border-info mb-3 " style="width: 18rem;">
            {{ form.csrf_token }}

            <div class="card-body shadow-lg">

              <ul class="list-group list-group-flush">
                <li class="list-group-item"> {{ form.txt.label }} {{form.txt()}}</li>
                <li class="list-group-item">{{form.bgcolor.label}} {{form.bgcolor()}}
                  <small class="text-muted">(leave blank for white)</small>
                </li>
                <li class="list-group-item">{{form.color.label}} {{form.color()}}
                  <small class="text-muted">(leave blank for color palette on text)</small>
                </li>
                <li class="list-group-item">{{form.submit()}}</li>

              </ul>
            </div>
          </div>
        </div>
      </form>
      <div class="row justify-content-md-center ">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active bg-warning text-secondary" href="/upload">Test the upload
              functionality(experimental!)</a>
        </ul>
      </div>
      <!-- To test the upload functionality(experimental), click <a href="/upload" class="alert-link">here.</a> -->
    </div>
    <div class="row justify-content-md-center ">

      <div class="alert alert-secondary" role="alert">
        Credit to <a href="https://minimaxir.com/" class="alert-link">Max Woolf</a> for the stylecloud project that
        generates wordclouds, details including licenses can be found on <a
          href="https://github.com/minimaxir/stylecloud" class="alert-link"> github.</a>
      </div>
    </div>
  </div>
</body>

</html>